<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>djwalebabu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77664C291C65F43E0079D614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77664C3A1C65F43F0079D614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77664C451C65F43F0079D614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
